@model SIFAIS.Models.RepPreviewDonacionesVM
@{
    ViewData["Title"] = "Listado de donaciones";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Listado de Donantes</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="font-size: 18px; font-family:sans-serif">
        <img src="~/img/logo.png" style="width: 120px; height:50px;" />
        <h2 class="text-center pb-3">Listado de Donantes</h2>
        <h5>Generado por: <b>@User.Identity.GetUserName()</b></h5>
        <h5 style="padding-bottom: 25px;">Fecha de creación: <b>@DateTime.Now.ToShortDateString()</b></h5>
        <table class="table">
            <thead class="t-head" id="table">
                <tr>
                    <th>
                        <h5><b>Fecha</b></h5>
                    </th>
                    <th>
                        <h5><b>Origen</b></h5>
                    </th>
                    <th>
                        <h5><b>Mensajero</b></h5>
                    </th>
                    <th>
                        <h5><b>Documentación</b></h5>
                    </th>
                    <th>
                        <h5><b>Tipo</b></h5>
                    </th>
                    <th>
                        <h5><b>Descripción</b></h5>
                    </th>
                    <th>
                        <h5><b>Cantidad</b></h5>
                    </th>
                    <th>
                        <h5><b>Espacio</b></h5>
                    </th>
                    <th>
                        <h5><b>Responsable</b></h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstDonaciones)
                {
                <tr>
                    <td>
                        @{
                            var fecha = item.FechaDonacion.ToShortDateString();
                            <p>@fecha</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Origen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mensajero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Documentacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDonacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Espacio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsable)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>






